{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider orange">
		<div class="col-md-12"></div>
	</div>

	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
				<h1>{{team.name}} Players</h1>
		</div>
	</div>	

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none"></div>
		<div class="col-md-7"></div>
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('add_player', team_nickname = team.nickname )}}">
				<button class="btn btn-default" id="add-player">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Player
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>

		<div class="row">

			<div class="col-md-1"></div>

			<div class="col-md-3">
				<h2>Goaltenders</h2>
					{% for i in items %}
						{% if i.position == 'Goaltender' %}
							<a href = '{{url_for('show_player', team_nickname=team.nickname, player_id=i.id)}}'>
							<div class="player"><h3>{{i.name}} ({{i.jersey_number}})</h3></div>
							</a>
						{% endif %}
					{% endfor %}
			</div>

			<div class="col-md-4">
				<h2>Defencemen</h2>
                    {% for i in items %}
                        {% if i.position == 'Defenceman' %}
							<a href = '{{url_for('show_player', team_nickname=team.nickname, player_id=i.id)}}'>
							<div class="player"><h3>{{i.name}} ({{i.jersey_number}})</h3></div>
							</a>
                        {% endif %}
                    {% endfor %}
			</div>

			<div class="col-md-3">
				<h2>Offencemen</h2>
                    {% for i in items %}
                        {% if i.position == 'Offenceman' %}
							<a href = '{{url_for('show_player', team_nickname=team.nickname, player_id=i.id)}}'>
							<div class="player"><h3>{{i.name}} ({{i.jersey_number}})</h3></div>
							</a>
                        {% endif %}
                    {% endfor %}
			</div>
			
			<div class="col-md-1"></div>

		</div>

{% endblock %}
